<template>
  <div id="app">
    <h1>Books</h1>

    <div>
      <button v-on:click="mode = 'create'" class="btn btn-info">Create/Edit</button>
      <button v-on:click="mode = 'search'" class="btn btn-primary">Search</button>
      <button v-on:click="refresh" class="btn btn-warning">Refresh</button>
    </div>

    <p v-if="errors.length" :key="error">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors" :key="error">{{ error }}</li>
      </ul>
    </p>

    <div v-if="mode === 'create'" class="form-group-row form-check-inline">
      <div class="form-group row align-items-center" >
        <label for="title" class="col-sm-3 col-form-label">Book title</label>
        <div class="col-sm-9">
          <input class="form-control" id="title"
            type="text"
            v-model="title"
            @keyup.enter="addBook"
            placeholder="title"
          />
        </div>
      </div>

      <div class="form-group row align-items-center">
        <label class="col-sm-3 col-form-label" for="author">Book Author</label>
        <div class="col-sm-9">
          <input class="form-control" id="author"
            type="text"
            v-model="author"
            @keyup.enter="addBook"
            placeholder="author"
          />
        </div>
      </div>

      <div class="form-group row align-items-center">
        <label class="col-sm-3 col-form-label" for="hardcoverCheckbox">Hardcover</label>
        <div class="col-sm-9">
          <input class="form-check-label"
            id="hardcoverCheckbox"
            type="checkbox"
            v-model="hardcover"
            @keyup.enter="addBook"
          />
        </div>
      </div>
    </div>

    <div v-if="mode === 'search'" class="form-group form-check-inline">

      <div class="form-group row align-items-center">
        <label for="title" class="col-sm-4 col-form-label">Search for a book title</label>
        <div class="col-sm-8">
          <input class="form-control" id="search"
            type="text"
            v-model="title"
            @keyup.enter="searchTitle"
            placeholder="title"
          />
        </div>
      </div>

      <div class="form-group row align-items-center">
        <label for="exact" class="col-sm-4 col-form-label">Exact match</label>
        <div class="col-sm-8">
          <input class="form-check-label"
            id="exact"
            type="checkbox"
            v-model="exact"
          />
        </div>
      </div>
    </div>

    <ul class="list-group">
        <div class="row">
          <div class="col-1" style="cursor: pointer" @click="sortBywtf('id')">
            ID
          </div>
          <div class="col-2" style="cursor: pointer" @click="sortBywtf('title')">
            Title
          </div>
          <div class="col-2" style="cursor: pointer" @click="sortBywtf('author')">
            Author
          </div>
          <div class="col-1" style="cursor: pointer" @click="sortBywtf('hardcover')">
            Cover type
          </div>
          <div class="col-2" style="cursor: pointer" @click="sortBywtf('dateAdded')">
            Date added
          </div>
          <div class="col-2" style="cursor: pointer" @click="sortBywtf('dateModified')">
            Date modified
          </div>
          <div class="col-2">
            Actions
          </div>
        </div>

      <li v-for="book of books" :key="book.id" class="list-group-item">
        <div class="row">
          <div class="col-1 text-truncate">
            {{ book.id }}
          </div>
          <div class="col-2 text-truncate">
            {{ book.title }}
          </div>
          <div class="col-2 text-truncate">
            {{ book.author }}
          </div>
          <div class="col-1">
            {{ book.hardcover === true ? "Hardcover" : "Paperback" }}
          </div>
          <div class="col-2">
            {{book.dateAdded}}
          </div>
          <div class="col-2">
            {{book.dateModified}}
          </div>
          <div class="col-2">
            <button v-on:click="deleteBook(book.id)" class="btn btn-danger">Delete</button>
            <button v-on:click="editBook(book.id)" class="btn btn-primary">Edit</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<style>
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
</style>
<script>
import axios from "axios";

export default {
  name: "app",
  components: {

  },
  data() {
    return {
      mode: "create",
      exact: false,
      sortedBy: "id",
      errors: [],
      books: [],
      title: "",
      author: "",
      hardcover: false,
    };
  },
  async created() {
    const { data } = await axios.get("http://localhost:3000/books");
    this.books = data;
  },
  methods: {
    checkForm: function (e) {
      if (this.author && this.title) {
        this.errors = [];
        return true;
      }

      this.errors = [];

      if (!this.author) {
        this.errors.push('author required.');
      }
      if (!this.title) {
        this.errors.push('title required.');
      }

      e.preventDefault();
    },
    async addBook() {
      if(this.title && this.author) {
        await axios.post("http://localhost:3000/books", {
          title: this.title,
          author: this.author,
          hardcover: this.hardcover,
          dateAdded: new Date(),
          dateModified: null
        });
        this.title = "";
        this.author = "";
        this.hardcover = false;
        this.errors = [];

        const {data} = await axios.get("http://localhost:3000/books");
        this.books = data;
      }
      else {
        this.errors = [];
        if(!this.title)this.errors.push('title required.');

        if(!this.author)this.errors.push('author required.');
      }
    },
    async deleteBook(id) {
      await axios.delete("http://localhost:3000/books/" + id);
      const { data } = await axios.get("http://localhost:3000/books");
      this.books = data;
    },
    async editBook(id) {
      if(this.title && this.author) {
        this.errors = [];
        await axios.patch("http://localhost:3000/books/" + id, {
          title: this.title,
          author: this.author,
          hardcover: this.hardcover,
          dateModified: new Date()
        });
        this.title = "";
        this.author = "";
        this.hardcover = false;
        this.errors = [];

        const {data} = await axios.get("http://localhost:3000/books");
        this.books = data;
      }
      else {
        this.errors = [];
        if(!this.title)this.errors.push('title required.');

        if(!this.author)this.errors.push('author required.');
      }
    },
    async searchTitle() {
      let data;
      if(this.exact) {
        data = await axios.get("http://localhost:3000/books/?title=" + this.title);
      }
      else {
        data = await axios.get("http://localhost:3000/books/?title_like=" + this.title);
      }
      this.books = data.data;
    },
    async sortBywtf(e) {
      let data = await axios.get("http://localhost:3000/books?_sort=" + e );
      this.books = data.data;
      this.sortedBy = e;
    },
    async refresh() {
      let data = await axios.get("http://localhost:3000/books");
      this.books = data.data;
    },
  },
};
</script>
